{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <div class="list-group" >
        {% for item in Items %}
        
          {%if item.status == "Done" %}
          <a class ="list-group-item list-group-item-success">
          <h4 class = "list-group-item-heading">To do item No.{{item.id}} - {{ item.title }}</h4>
          {%elif item.status == "Not Started" %}
          <a class ="list-group-item list-group-item-warning">
            <h4 class = "list-group-item-heading">To do item No.{{item.id}} - {{ item.title }}</h4>
          {%endif%}
        </a>
        {% endfor %}
      </div>
      <br>
      <form action = "http://localhost:5000/add" method ="post" class="form-inline">
        <p>Enter to-do list title</p>
        <br>
        <p><input type ="text" name = "toadd" /></p>
        <p><input type="submit" name="submit"/></p>
      </form>
      <form action = "http://localhost:5000/complete" method ="post" class="form-inline">
        <label>Enter to-do id to complete</label>
        <select name="tocomplete" class="form-control">
        {% for uc in uncompleted %}
        <option>{{uc.id}}</option>
        {% endfor %}
        </select>
        <br>
        <p><input type="submit" name="submit"/></p>
      </form>
      <form action = "http://localhost:5000/delete" method ="post" class="form-inline">
        <p>Enter to-do id you want to delete</p>
        <select name="todelete" class="form-control">
          {% for item in Items %}
          <option>{{item.id}}</option>
          {% endfor %}
          </select>
          <br>
        <p><input type="submit" name="submit"/></p>
      </form>
    </div>
  </div>
{% endblock %}