{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <div class="list-group" >
        {% for item in view_model.items %}
        
          {%if item.status == "Done" %}
          <a class ="list-group-item list-group-item-success">
          <h4 class = "list-group-item-heading">To do item ID.{{item.id}} - {{ item.name }} <strong>Done!</strong></h4>
          <p>{{item.desc}}</p>
            {%if item.due != None%}
            <p>{{item.due}}</p>
            {%endif%}
          {%elif item.status == "TODO" %}
          <a class ="list-group-item list-group-item-warning">
            <h4 class = "list-group-item-heading">To do item ID.{{item.id}} - {{ item.name }} <strong>To Do!</strong></h4>
            <p>{{item.desc}}</p>
            {%if item.due != None%}
            <p>{{item.due}}</p>
            {%endif%}
          {%endif%}
        </a>
        {% endfor %}
      </div>
      <br>
      <label>Enter to-do list title</label>
      <form action = "http://localhost:5000/add" method ="post" class="form-inline">
        <div class="input-group">
        <p><input type ="text" name = "toaddname" class="form-control" placeholder="To-Do Title" required/></p>
        <p><input type ="text" name = "toadddesc" class="form-control" placeholder="To-Do Desc"/></p>
        <p><input type ="date" name = "toadddate" class="form-control"></p>
        <p><input type="submit" name="submit" class="form-control"/></p>
        </div>
      </form>
      {%if uncompleted|length != 0 %}
      <label>Enter to-do id to complete</label>
      <form action = "http://localhost:5000/complete" method ="post" class="form-inline">
        <select name="tocomplete" class="form-control">
        {% for uc in uncompleted %}
        <option>{{uc.id}}</option>
        {% endfor %}
        </select>
        <br>
        <p><input type="submit" name="submit"/></p>
      </form>
      {%endif%}

      <br>
      {%if deletelist|length != 0 %}
      <label>Enter to-do id you want to delete</label>
      <form action = "http://localhost:5000/delete" method ="post" class="form-inline">
          
          <select name="todelete" class="form-control">
          
          {% for delete in deletelist %}
          <option>{{delete.id}}</option>
          {% endfor %}
          </select>
          <br>
        <p><input type="submit" name="submit"/></p>
      </form>
      {%endif%}
    </div>
  </div>
{% endblock %}